{% extends 'userapp/user-base.html' %}

{% block title %}
Доставка - 
{{ block.super }}
{% endblock title %}

{% block content %}
    <h2>Книжный магазин - доставляем книги в любую точку Беларуси!</h2>
    <br/>
    <div>
      <h4>Доставка работает непрерывно<br>
      </h4>
      <p>По вопросам доставки звоните: </p>
      <ul>
        <li>МТС&nbsp;+375&nbsp;(29)&nbsp;7777777</li>
        <li>(Vel)&nbsp;+375&nbsp;(29)&nbsp;6666666<br>
        </li>
      </ul>
      <p>С 9:00 до 20:00 ежедневно, кроме выходных и праздничных дней</p>
      <br>
      
      <p>Возможен самовывоз по адресу: г. Минск, ул. Широкая, д.36,
        кв.707
      </p>
    </div>
  </body>
</html>

{% endblock %}