{% extends 'admincore/admin-base.html' %}

{% block title %}
Главная -   
{{ block.super }}
{% endblock title %}
{% block content %}
<h3>Статистика по продуктам (Книги)</h3>
<br>
<div class="card-deck">
    <div class="card" style="width: 16rem;">
        <div class="card-body">
            <h5 class="card-title">Книг всего</h5>
            <p class="card-text"> {{ book_count }}</p>
        </div>
    </div>
    <div class="card" style="width: 16rem;">
        <div class="card-body">
            <h5 class="card-title">Книг доступно</h5>
            <p class="card-text"> {{ book_available }}</p>
        </div>
    </div>
    <div class="card" style="width: 16rem;">
        <div class="card-body">
            <h5 class="card-title">Книг добавлено вчера</h5>
            <p class="card-text"> {{ book_yesterday }}</p>
        </div>
    </div>
    <div class="card txt-center" style="width: 16rem;">
        <div class="card-body">
            <h5 class="card-title">Книг добавлено с начала месяца</h5>
            <p class="card-text"> {{ book_this_month }}</p>
        </div>
    </div>
    <div class="card" style="width: 16rem;">
        <div class="card-body">
            <h5 class="card-title">Жанров</h5>
            <p class="card-text"> {{ genre_count }}</p>
        </div>
    </div>
</div>
<br>
<div style="border: solid 1px lightgray;">
    <table class="table">
        <caption>Количество книг по жанрам</caption>
        <thead>
            <tr>
                <th>Жанр</th>
                <th>Количество</th>
            </tr>
        </thead>
        {% for g in genres %}
        <tr>
            <td>{{ g.genre__name }}</td>
            <td style="text-align: right;">{{ g.dc }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}